.container {
  display: flex;
  align-items: center; /* Aligns p and li vertically */
  padding: 10px;
}

header p {
  display: inline;
  margin: 0;
  margin-right: 800px; /* Space between the p and the start of the list */
}

.nav {
  list-style: none; /* Removes bullet points */
  padding: 0;
  display: flex;
  /* Better than inline for list items */
}


.nav li {
  font-size: 20px;
  padding: 0  27px; /* Side padding only to prevent vertical jumping */
}  
