.container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding: 1em;
}

header {
  margin: 0;
  background-color:white;
  color: #1E4F8C;
}

body {
  margin: 0;
}


.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 1.2em;
  padding: 0  1em;
  color: black;
}

  

.letters{
  display: flex;
  padding-inline-start: 0%;
  font-size: 3em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
}

.areas{
  background-color:#061D60;
  font-size: 1.5em;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 20vw;
  height: 20vh;
}

.areas p {
  font-size: 1em;
}

.content{
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.parceiros {
  background-color: darkgrey;
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.parceiros img {
  max-width: 100%;
  height: 100%;
}


.contactos{
    margin-right: 40em;
    margin-left: 10em;
    margin-top: 5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;

}

.contactos p {
  padding-top: 1em;
  font-size: 30px;

}

.contactos img {
  max-width: 50%;
  max-height: 50%;

}
.footer{
  background-color: #061D60;
  font-size: 1em;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  align-items: end;
}

.background{
  background-image: url(imagens/background.png);
  margin: 0%;
  background-size: cover; 
}
