.container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding-left: 0.5em;
}

header {
  margin: 0;
  background-color: rgb(255, 255, 255, 0.6);
  color: #1E4F8C;
}

.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 0.7em;
  padding: 0  1em;
  color: #061D60;
  text-decoration: none;
}

.nav li a:hover{
  border-bottom: 2px solid #061D60;
}
.nav li a{
 text-decoration:none;
 color: #061D60;
}
body {
  margin: 0;
  padding: 0;
}

.background{
  background-image: url(imagens/imagem_recortada.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/*adaptado*/
h1 {
  display: flex;
  padding-top: 1em;
  font-size:1.5em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
  text-shadow: .1em .1em 1em whitesmoke;;
}

h2 {
  font-size: 1em;
}

.missao{
  margin: 4em;
  background-color: rgb(255, 255, 255, 0.70);
  border-radius: 14px;
}


.missao h1 {
  justify-content: flex-start;
  padding-left: .5em;
  padding-top: .5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #061D60;
}

.missao p{
  justify-content: flex-start;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  font-size: 0.75em;
  color: #061D60;
}

.investigacao {
  padding-top: 5em;
  color: #061D60;
  text-shadow: 5px 5px 10px white;

}
.areas{
  background-color:#061D60;
  box-shadow: 50%;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
  width: 12vw;
  height: 12vh;
  box-shadow: .35em .35em .5em whitesmoke;
  padding: 2em;
}

.areas p {
  font-size: 1em;
}

.content{
  padding-bottom: 0;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parceiros {
  background-color: rgba(255,255, 255, 0.5);
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parceiros img{
  max-width: 100%;
  height: 10vh;
}

.servicos{
    padding-top: 3em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
}

.servicos_ensino {
  background-image:url(imagens/ensino.jpeg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.2em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.servicos_ensino p{
  font-weight: bold;
  font-size: 1.5em;
}

.servicos_bolsas{
  background-image:url(imagens/bolsas.jpg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.2em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos_bolsas p{
  font-weight: bold;
  font-size: 1.5em;
}

.contactos{
    margin-left: 5em;
    margin-top: 5em;
    width: 100;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.contactos p {
  padding: 1em;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;

}

.contactos img {
  max-width: 70%;
  max-height: 25%;

}

.footer{
  background-color: rgb(255, 255, 255, 0.65);
  font-size: 1em;
  color: #061D60;
  margin: 0;
  padding-top: 0.5em;
  width: 100%;
}
  footer p {
    margin: 0;
}

.referencia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direitos {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

form textarea{
    width: 100%;
    height: 5em;
}



/*
TAMANHO PARA TABLET
*/

@media (min-width: 768px){
  .container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding-left: 0.75em;
}

  .missao p {
    font-size: 1em;
  }

  .parceiros img{
  max-width: 100%;
  height: 70%;
  }
  .content{
  padding-bottom: 0;
    padding: 5px;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav li {
  font-size: 1em;
  padding: 0  1em;
  color: #061D60;
  text-decoration: none;
  }

  h1 {
  display: flex;
  padding-top: 5em;
  font-size:2.5em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
  text-shadow: .1em .1em 1em whitesmoke;;
}

.areas{
  background-color:#061D60;
  box-shadow: 50%;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin-left: 8em;
  margin-right: 5em;
  border-radius: 10px;
  width: 20vw;
  height: 15vh;
  box-shadow: .35em .35em .5em whitesmoke;
  padding-bottom:1em;
 

}

.servicos{
    padding-top: 10 em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
}
.parceiros {
  background-color: rgba(255,255, 255, 0.5);
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.parceiros img{
  max-width: 100%;
  height: 11.1vh;
}

.servicos{
    padding-top: 3em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
}
.contactos{
    margin-left: 1em;
    margin-top: 5em;
    width: 100;
    height: auto;
    display: flex;
    justify-content:space-around;
    
}

.contactos p {
  padding: .5em;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;

}

.contactos img {
  max-width: 40%;
  max-height: 25%;
  padding-right: 1em;

}
.footer{
  background-color: rgb(255, 255, 255, 0.65);
  font-size: 1em;
  color: #061D60;
  margin: 0;
  padding-top: 0.75em;
  width: 100%;
}
  footer p {
    margin: 0;
}
}

/*
TAMANHO PARA COMPUTADOR
*/

@media (min-width: 1020px){
  .container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding-left: 1em;
  }
  
  .missao p {
    font-size: 1.25em;
  }

  .parceiros img{
  max-width: 100%;
  height: 20vh;
  }
 .parceiros {
  background-color: rgba(255,255, 255, 0.5);
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

  .content{
  padding-bottom: 0;
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav li {
  font-size: 1.2em;
  padding: 0  1em;
  color: #061D60;
  text-decoration: none;
  }

  h1 {
  display: flex;
  padding-top: 1em;
  font-size:4em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
  text-shadow: .1em .1em 1em whitesmoke;;
}

.areas{
  background-color:#061D60;
  box-shadow: 50%;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
  width: 12vw;
  height: 12vh;
  box-shadow: .35em .35em .5em whitesmoke;
  padding: 2em;
}
.servicos{
    padding-top: 3em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
}

.servicos_ensino {
  background-image:url(imagens/ensino.jpeg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.2em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.servicos_ensino p{
  font-weight: bold;
  font-size: 1.5em;
}

.servicos_bolsas{
  background-image:url(imagens/bolsas.jpg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.2em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos_bolsas p{
  font-weight: bold;
  font-size: 1.5em;
}

.footer{
  background-color: rgb(255, 255, 255, 0.65);
  font-size: 1em;
  color: #061D60;
  margin: 0;
  padding-top: 1em;
  width: 100%;
}
  footer p {
    margin: 0;
}
.contactos{
    margin-left: 5em;
    margin-top: 5em;
    width: 100;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.contactos p {
  padding: 2em;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;

}

.contactos img {
  max-width: 30%;
  max-height: 15%;

}
.referencia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.direitos {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
form textarea{
    width: 100%;
    height: 5em;
}

}
