header {
  margin: 0;
  background-color: rgb(255, 255, 255, 0.6);
  color: #3964e7;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
}

.nav {
  list-style:none;
  padding: 0;
  display: flex;
  margin: 0%;
}


.nav li {
  font-size:.85em;
  padding: 0  1em;
  color: #5d80e9;
  text-decoration: none;
}

.nav li a:hover{
  border-bottom: 2px solid #061D60;
}
.nav li a{
 text-decoration:none;
 color: #061D60;
 font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.background{
  background-image: url(imagens/imagem_recortada.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  display: flex;
  font-size:2em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
  text-shadow: .1em .1em 1em whitesmoke;
}

h2 {
  font-size: 1.5em;
}

.missao{
  margin: 4em;
  background-color: rgb(255, 255, 255, 0.70);
  border-radius: 14px;
}

.missao h1 {
  justify-content: flex-start;
  padding-left: .5em;
  padding-top: .5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #061D60;
}

.missao p{
  justify-content: flex-start;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  font-size: 0.75em;
  color: #061D60;
}

.investigacao {
  padding-top: 5em;
  color: #061D60;
  text-shadow: 5px 5px 10px white;

}

.content{
  padding-bottom: 0;
  width: 100vw;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center;
  gap:20px;
}

.areas{
  background-color:#061D60;
  box-shadow: 50%;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
  width: 70vw;
  height: 30vh; 
  box-shadow: .35em .35em .5em whitesmoke;
  padding-bottom: 1.2em;
}

.areas p {
  font-size: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.areas h2 {
  padding-left: 0.5em;
}

.parceiros {
  background-color: rgba(255,255, 255, 0.5);
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parceiros img{
  min-width: 20%;
  max-width: 60%;
  height: auto;
  /*height: 10vh;*/
}

.servicos{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content:space-around;
}
.servicos_titulo{
  display: flex;
  font-size:1em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
  text-shadow: .1em .1em 1em whitesmoke;
}

.servicos_ensino {
  background-image:url(imagens/ensino.jpeg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1em;
  color: #ffff;
  text-shadow:1px 1px .5px #061D60;
  margin: 2em;
  border-radius: 10px;
  width: 35vw;
  height: 35vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.servicos_ensino p{
  font-weight: bold;
  font-size: 1.5em;
}

.servicos_bolsas{
  background-image:url(imagens/bolsas.jpg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1em;
  color:#fff;
  margin: 2em;
  border-radius: 10px;
  width: 35vw;
  text-shadow:1px 1px .5px #061D60;
  height: 35vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos_bolsas p{
  font-weight: bold;
  font-size: 1.5em;
  padding-left: .5em;
}

.contactos{
  margin-left: 5em;
  margin-top: 5em;
  width: 100;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.contactos p {
  padding: 1em;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}

.contactos img {
  min-width: 20%;
  height:auto;
}
.contactos_form{


}
.contactos_form {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}
.contactos_form  label{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.contactos_form input[type=text], select {
  border: 1px solid #061D60;
  border-radius: 5px;
  outline: none;
  width: 20em;
  height: auto;
  
}




.footer{
  background-color: rgb(255, 255, 255, 0.65);
  font-size: 1em;
  color: #061D60;
  margin: 0;
  padding-top: 0.5em;
  width: 100%;
}

  footer p {
  margin: 0;
}

.referencia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.politicas {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}





/*
TAMANHO PARA TABLET
*/

@media (min-width: 768px){
  .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 0.75em;
  }
  
  .nav li {
    font-size: 1em;
    padding: 0  1em;
    color: #061D60;
    text-decoration: none;
  }

  h1 {
    display: flex;
    font-size:2.5em;
    font-weight: bold;
    justify-content:center;
    flex-direction: row;
    color: #061D60;
    text-shadow: .1em .1em 1em whitesmoke;;
  }


  .missao p {
    font-size: 1em;
  }

  .content{
    padding-bottom: 0;
    padding: 5px;
    width: 100vw;
    height: 50vh;
  }

  .content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 30px;
    height: auto;
    padding: 40px 0;
  }

  .areas{
    background-color:#061D60;
    box-shadow: 50%;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    margin-left: 8em;
    margin-right: 5em;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
    box-shadow: .35em .35em .5em whitesmoke;
    padding-bottom:1em;
  }  

  .parceiros {
    background-color: rgba(255,255, 255, 0.5);
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .parceiros img{
    min-width: 20%;
    max-width: 80%;
    height: auto;
    /*height: 12.2vh;*/
  }

  .servicos{
      padding-top: 3em;
      width: 100vw;
      height: 50vh;
      display: flex;
      justify-content:space-around;
  }

  .contactos{
      margin-left: 1em;
      margin-top: 5em;
      width: 100;
      height: auto;
      display: flex;
      justify-content:space-around;
  }

  .contactos p {
    padding: 1.2em;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
  }

  .contactos img {
    min-width: 30%;
    height:auto;
  }

  .footer{
    background-color: rgb(255, 255, 255, 0.65);
    font-size: 1em;
    color: #061D60;
    margin: 0;
    padding-top: 0.75em;
    width: 100%;
  }

  .footer p {
    margin: 0;
  }
}

/*
TAMANHO PARA COMPUTADOR
*/

@media (min-width: 1020px){
  .container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding-left: 1em;
  }
  
  .missao p {
    font-size: 1.25em;
  }

  .parceiros img{
  min-width: 20%;
  max-width: 100%;
  height: auto;
  }

 .parceiros {
    background-color: rgba(255,255, 255, 0.5);
    width: 100%;
    height: fit-content;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .content{
  padding-bottom: 0;
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav li {
  font-size: 1.2em;
  padding: 0  1em;
  color: #061D60;
  text-decoration: none;
  }

  h1 {
    display: flex;
    font-size:4em;
    font-weight: bold;
    justify-content:center;
    flex-direction: row;
    color:#0A2B5E;
    text-shadow: .1em .1em 1em whitesmoke;;
  }

  .content {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
    height:auto;
    padding: 40px 0;
  }

  .areas{
    background-color:#061D60;
    box-shadow: 50%;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    width: 20vw;
    height: 25vh;
    box-shadow: .35em .35em .5em whitesmoke;
    padding: 1em;
  }

  .servicos{
    padding-top: 3em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
  }

  .servicos_ensino {
    background-image:url(imagens/ensino.jpeg);
    background-size: cover;
    box-shadow: 50%;
    font-size: 1.2em;
    color: #fff;
    margin: 2em;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
    box-shadow: .35em .35em .5em whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicos_ensino p{
    font-weight: bold;
    font-size: 1.5em;
  }

  .servicos_bolsas{
    background-image:url(imagens/bolsas.jpg);
    background-size: cover;
    box-shadow: 50%;
    font-size: 1.2em;
    color: #fff;
    margin: 2em;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
    box-shadow: .35em .35em .5em whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicos_bolsas p{
    font-weight: bold;
    font-size: 1.5em;
  }

  .contactos{
    margin-left: 5em;
    margin-top: 5em;
    width: 100;
    height: auto;
    display: flex;
    flex-wrap: wrap;  
  }

  .contactos p {
    padding: 2em;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    color: #061D60;
  }

  .contactos img {
    min-width: 30%;
    height:auto;
  }
  .footer{
    background-color: rgb(255, 255, 255, 0.65);
    font-size: 1em;
    color: #061D60;
    margin: 0;
    padding-top: 1em;
    width: 100%;
  }

    footer p {
    margin: 0;
  }

  .referencia {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .direitos {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

}
