.container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding: 1em;
}

header {
  margin: 0;
}
body {
  margin: 0;
}


.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 1.2em;
  padding: 0  1em;
  color: black;
} 
.imageilheu{
  background-image:url(imagens/ilheu.png);
  background-size:cover;
  margin: 0%;
  height: 600px;

  
}
.letters{
  display: flex;
  padding-inline-start: 0%;
  font-size: 25px;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
}

.areas{
  background-color:#061D60;
  font-size: 1.5em;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 20vw;
  height: 20vh;
}

.areas p {
  font-size: 1em;
}

.content{
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}


.servicos {
  background-color: darkgrey;
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}


