.container {
  display: flex;
  justify-content: space-between; /* Aligns p and li vertically */
  align-items: center;
  padding: 5em;
}

header {
  margin: 0;
  background-color: rgb(255, 255, 255, 0.6);
  color: #1E4F8C;
}
.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 1.2em;
  padding: 0  1em;
  color: #061D60;
}

.nav li a:hover{
  border-bottom: 2px solid #061D60;
}

body {
  margin: 0;
  padding: 0;
}

.background{
  background-image: url(imagens/bordadowarai.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}


h1 {
  display: flex;
  padding-top: 1;
  font-size: 3em;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
}
.missao{
  margin: 4em;
  background-color: rgb(255, 255, 255, 0.70);
  border-radius: 14px;
}

.missao h1 {
  justify-content: flex-start;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.missao p{
  justify-content: flex-start;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  color: #061D60;
}

.areas{
  background-color:#061D60;
  box-shadow: 50%;
  font-size: 1.5em;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 20vw;
  height: 20vh;
  box-shadow: .35em .35em .5em whitesmoke;
}

.areas p {
  font-size: 1em;
}

.content{
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.parceiros {
  background-color: darkgrey;
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parceiros img{
  max-width: 100%;
  height: 100%;
}

.servicos{
    margin-top: 5em;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content:space-around;
}

.servicos_ensino {
  background-image:url(imagens/ensino.jpeg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.5em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos_ensino p{
  font-weight: bold;
  font-size: 1.5em;
}

.servicos_bolsas{
  background-image:url(imagens/bolsas.jpg);
  background-size: cover;
  box-shadow: 50%;
  font-size: 1.5em;
  color: #fff;
  margin: 2em;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  box-shadow: .35em .35em .5em whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos_bolsas p{
  font-weight: bold;
  font-size: 1.5em;
}

.contactos{
    margin-right: 40em;
    margin-left: 10em;
    margin-top: 5em;
    width: 100;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;

}

.contactos p {
  padding-top: 1em;
  font-size: 30px;

}

.contactos img {
  max-width: 50%;
  max-height: 50%;

}

.footer{
  background-color: rgb(255, 255, 255, 0.65);
  font-size: 1em;
  color: #061D60;
  margin: 0;
  padding: 0%;
  width: 100%;
}
footer p {
  margin: 0;
}

.referencia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direitos {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}