.container {
  display: flex;
  align-items: center; /* Aligns p and li vertically */
  padding: 10px;
}

header p {
  display: inline;
  margin: 0;
  margin-right: 800px; /* Space between the p and the start of the list */
}

.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 25px;
  padding: 0  27.7px;
  color: black;
} 
.imageilheu{
  background-image:url(imagens/ilheu.png);
  background-size:cover;
  margin: 0%;
  height: 600px;

  
}
.letters{
  display: flex;
  padding-inline-start: 0%;
  font-size: 25px;
  font-weight: bold;
  justify-content:center;
  flex-direction: row;
  color: #061D60;
}
.areas{
  background-color:#061D60;
  font-size: 20px;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  
}

.content{
    padding: 10px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}



