.container {
  display: flex;
  align-items: center; /* Aligns p and li vertically */
  padding: 10px;
}

header p {
  display: inline;
  margin: 0;
  margin-right: 800px; /* Space between the p and the start of the list */
}

.nav {
  list-style:none; /* Removes bullet points */
  padding: 0;
  display: flex;
  margin: 0%;
  /* Better than inline for list items */
}


.nav li {
  font-size: 25px;
  padding: 0  27.7px;

} 
.imageilheu{
  background-image:url(imagens/ilheu.png);
  background-size:cover;
  margin: 0%;
  height: 600px;

  
}
.missao {
  fill:url(imagens/ilheu.png);
  padding-inline-start: 0%;
  font-size: 25px;
  font-weight: bold;
}




